[submodule "web-app"]
	path = web-app
	url = https://github.com/AI-Wars-Soc/web-app
[submodule "web-api"]
	path = web-api
	url = https://github.com/AI-Wars-Soc/web-api
[submodule "web-server"]
	path = web-server
	url = https://github.com/AI-Wars-Soc/web-server
[submodule "submission-runner"]
	path = submission-runner
	url = https://github.com/AI-Wars-Soc/submission-runner
[submodule "matchmaker"]
	path = matchmaker
	url = https://github.com/AI-Wars-Soc/matchmaker
